<div class="mt-4">
  <h3>Thùng rác</h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ </th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col" colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          {{! Truyeen function sum da them o ben index,js }}
          {{! theo dang [funtion name] [param1] [param2] }}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a 
              href=""
              class="btn btn-link text-decoration-none btn-restore"
              data-id="{{this._id}}" 
            >
              Khôi phục</a></td>
          <td><a
              href="/courses/{{this._id}}"
              class="btn btn-link text-decoration-none"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="{{this._id}}"
            >
              Xoá vĩnh viễn</a></td>

        </tr>

        {{else}}
     
          <td colspan="5" class="text-center">
            Bạn chưa có khoá học nào 
            <a href="/courses/create" class="text-decoration-none">Tạo ngay</a>
          </td>
      {{/each}}
    </tbody>
  </table>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá khoá học ?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xoá vĩnh viễn khoá học này ?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button type="button" id="btn-delete" class="btn btn-danger">Xoá
        </button>
      </div>
    </div>
  </div>
</div>

<form class="row" method="POST" name="item-delete-form"></form>
<form class="row" method="POST" name="item-restore-form"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let deleteForm = document.forms["item-delete-form"];
        let restoreForm = document.forms["item-restore-form"];
        const exampleModal = document.getElementById('exampleModal')
        const btnRestore = $('.btn-restore')
        
        btnRestore.click((e) =>{
        // do bị vướng hành vi mặc định của thẻ a nên phải sử dụng preventDefault
        e.preventDefault()
        let courseRestoreId = $(e.currentTarget).data("id")
        restoreForm.action = `/courses/${courseRestoreId}/restore?_method=PUT`
        restoreForm.submit()
        })
        
        exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const courseId = button.getAttribute('data-bs-whatever')
        const btnDelete = document.getElementById('btn-delete')
        
        btnDelete.onclick = ()=>{
        deleteForm.action = `/courses/${courseId}/force?_method=DELETE`
        deleteForm.submit()
        }
        })
    })
</script>